
.field {
    height: 124px;
    width: 811px;
    position: relative;
    pointer-events: none;
    background-size: auto 124px;
    z-index: 7;
}

.card-in-field {
    height: 124px;
    width: 66px;
    border-radius: 10px;
    margin: 1px;
    background-size: 66px 124px;
    background-position: center;
    position: relative;
    pointer-events: none;
}

.Close-Range-2-Cards {
    position: relative;
    left: 175px;
    top: 528px;
    z-index: 10;
}

.Close-Range-1-Cards {
    position: relative;
    left: 175px;
    top: 544px;
    z-index: 20;
}

/* template:
# {
    background-image: url('.././assets/field/.png');
    top: px;
    left: px;
}
*/

#background {
    background-image: url('.././assets/field/Background.jpg');
}

#Close-Range-1 {
    background-image: url('.././assets/field/Close-Range-1.png');
    top: 673px;
    left: 178px;
}

#Close-Range-2 {
    background-image: url('.././assets/field/Close-Range-2.png');
    top: 400px;
    left: 178px;
}

#Ranged-1 {
    background-image: url('.././assets/field/Ranged-1.png');
    top: px;
    left: px;
}

#Ranged-2 {
    background-image: url('.././assets/field/Ranged-2.png');
    top: px;
    left: px;
}

#Siege-1 {
    background-image: url('.././assets/field/Siege-1.png');
    top: px;
    left: px;
}

#Siege-2 {
    background-image: url('.././assets/field/Siege-2.png');
    top: px;
    left: px;
}