
/* template:
# {
    background-image: url('./assets/neutrals/.png');
}
*/

#Avallach {
    background-image: url('./assets/neutrals/Avallach.png');
}

#Ciri-1 {
    background-image: url('./assets/neutrals/Ciri-1.png');
}

#Ciri-2 {
    background-image: url('./assets/neutrals/Ciri-2.png');
}

#Dandelion-1 {
    background-image: url('./assets/neutrals/Dandelion-1.png');
}

#Dandelion-2 {
    background-image: url('./assets/neutrals/Dandelion-2.png');
}

#Emiel-Regis-Rohellec-Terzieff-1 {
    background-image: url('./assets/neutrals/Emiel-Regis-Rohellec-Terzieff-1.png');
}

#Emiel-Regis-Rohellec-Terzieff-2 {
    background-image: url('./assets/neutrals/Emiel-Regis-Rohellec-Terzieff-2.png');
}

#Geralt-Of-Rivia-1 {
    background-image: url('./assets/neutrals/Geralt-Of-Rivia-1.png');
}

#Geralt-Of-Rivia-2 {
    background-image: url('./assets/neutrals/Geralt-Of-Rivia-2.png');
}

#Olgierd-Von-Everec {
    background-image: url('./assets/neutrals/Olgierd-Von-Everec.png');
}

#Triss-Merigold-1 {
    background-image: url('./assets/neutrals/Triss-Merigold-1.png');
}

#Triss-Merigold-2 {
    background-image: url('./assets/neutrals/Triss-Merigold-2.png');
}

#Vesemir-1 {
    background-image: url('./assets/neutrals/Vesemir-1.png');
}

#Vesemir-2 {
    background-image: url('./assets/neutrals/Vesemir-2.png');
}

#Villentretenmerth-1 {
    background-image: url('./assets/neutrals/Villentretenmerth-1.png');
}

#Villentretenmerth-2 {
    background-image: url('./assets/neutrals/Villentretenmerth-2.png');
}

#Yennefer-Of-Vengerberg-1 {
    background-image: url('./assets/neutrals/Yennefer-Of-Vengerberg.png');
}

#Zoltan-Chivay-1 {
    background-image: url('./assets/neutrals/Zoltan-Chivay-1.png');
}

#Zoltan-Chivay-2 {
    background-image: url('./assets/neutrals/Zoltan-Chivay-2.png');
}