
/* template:
# {
    background-image: url('./assets/northern-realms/.png');
}
*/

#Ballista-1 {
    background-image: url('./assets/northern-realms/Ballista-1.png');
}

#Ballista-2 {
    background-image: url('./assets/northern-realms/Ballista-2.png');
}

#Blue-Stripes-Commando {
    background-image: url('./assets/northern-realms/Blue-Stripes-Commando.png');
}

#Catapult {
    background-image: url('./assets/northern-realms/Catapult.png');
}

#Cinfrid-Reavers-Dragon-Hunter {
    background-image: url('./assets/northern-realms/Cinfrid-Reavers-Dragon-Hunter.png');
}

#Dethmold {
    background-image: url('./assets/northern-realms/Dethmold.png');
}

#Dun-Banner-Medic {
    background-image: url('./assets/northern-realms/Dun-Banner-Medic.png');
}

#Esterad-Thyssen {
    background-image: url('./assets/northern-realms/Esterad-Thyssen.png');
}

#John-Natalis {
    background-image: url('./assets/northern-realms/John-Natalis.png');
}

#Kaedweni-Siege-Expert-1 {
    background-image: url('./assets/northern-realms/Kaedweni-Siege-Expert-1.png');
}

#Kaedweni-Siege-Expert-2 {
    background-image: url('./assets/northern-realms/Kaedweni-Siege-Expert-2.png');
}

#Kaedweni-Siege-Expert-3 {
    background-image: url('./assets/northern-realms/Kaedweni-Siege-Expert-3.png');
}

#Keira-Metz {
    background-image: url('./assets/northern-realms/Keira-Metz.png');
}

#Philippa-Eilhart {
    background-image: url('./assets/northern-realms/Philippa-Eilhart.png');
}

#Poor-Fucking-Infantry {
    background-image: url('./assets/northern-realms/Poor-Fucking-Infantry.png');
}

#Prince-Stennis {
    background-image: url('./assets/northern-realms/Prince-Stennis.png');
}

#Redenian-Foot-Soldier-1 {
    background-image: url('./assets/northern-realms/Redenian-Foot-Soldier-1.png');
}

#Redenian-Foot-Soldier-2 {
    background-image: url('./assets/northern-realms/Redenian-Foot-Soldier-2.png');
}

#Sabrina-Glevissig {
    background-image: url('./assets/northern-realms/Sabrina-Glevissig.png');
}

#Sheldon-Skaggs {
    background-image: url('./assets/northern-realms/Sheldon-Skaggs.png');
}

#Siege-Tower {
    background-image: url('./assets/northern-realms/Siege-Tower.png');
}

#Siegfried-Of-Denesle {
    background-image: url('./assets/northern-realms/Siegfried-Of-Denesele.png');
}

#Sigismund-Dijkstra {
    background-image: url('./assets/northern-realms/Sigismund-Dijkstra.png');
}

#Sile-De-Tansarville {
    background-image: url('./assets/northern-realms/Sile-De-Tansarville.png');
}

#Thaler {
    background-image: url('./assets/northern-realms/Thaler.png');
}

#Trebuchet-1 {
    background-image: url('./assets/northern-realms/Trebuchet-1.png');
}

#Trebuchet-2 {
    background-image: url('./assets/northern-realms/Trebuchet-2.png');
}

#Vernon-Roche {
    background-image: url('./assets/northern-realms/Vernon-Roche.png');
}

#Ves {
    background-image: url('./assets/northern-realms/Ves.png');
}

#Yarpen-Zigrin {
    background-image: url('./assets/northern-realms/Yarpen-Zigrin.png');
}

#Foltest-King-Of-Temeria {
    background-image: url('./assets/northern-realms/.png');
}

#Foltest-Lord-Commander-Of-The-North {
    background-image: url('./assets/northern-realms/Foltest-Lord-Commander-Of-The-North.png');
}

#Foltest-The-Siegemaster {
    background-image: url('./assets/northern-realms/Foltest-The-Siegemaster.png');
}