#Ciri {
  background-image: url('./assets/Ciri.png');
}

#Yarpen-Zigrin {
  background-image: url('./assets/Yarpen-Zigrin.png');
}

#Redenian-Foot-Soldier {
  background-image: url('./assets/Redenian-Foot-Soldier.png');
}