
.card {
    height: 150px;
    width: 80px;
    border-radius: 10px;
    margin: 1px;
    background-size: 80px 150px;
    background-position: center;
    position: relative;
    z-index: 10;
}

.player2 {
    top: 100px;
    left: 100px;
}

.player1 {
    top: 920px;
    left: 100px;
}

.empty-card {
    color: transparent;
    background-color: transparent;
    pointer-events: none;
}

/* template:
# {
    background-image: url('./assets/Northern-Realms/.png');
}
*/

#Ciri {
    background-image: url('./assets/Neutrals/Ciri-1.png');
}

#Yarpen-Zigrin {
    background-image: url('./assets/Northern-Realms/Yarpen-Zigrin.png');
}

#Redenian-Foot-Soldier {
    background-image: url('./assets/Northern-Realms/Redenian-Foot-Soldier-1.png');
}